 /* Navigation Bar */
 .navbar {
    display: flex;
    justify-content: flex-end; 
  }
  
  .nav-list {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    padding: 0; 
    margin: 0; 
  }
  
  .nav-item {
    margin: 0 10px; 
    justify-content: flex-end;
  }
  

    

  
  .header-controls {
    display: flex;
    align-items: center;
  }
  



main {
    background: linear-gradient(to bottom, #FFD7C9, #E3F1FF);
}

h1 {
    font-family: 'Overpass', sans-serif; /* Use the 'Overpass' font */
    font-size: 76px;
    background-color: #E3F1FF; 
}

/* Additional CSS for spacing and text color */
.ad {
    margin-bottom: 70px; 
    margin-left: 80px;
}

.ad h4,
.ad p {
    color: black; 
}

/* Style for the comment submission button */
#submit-btn {
  background-color: #ad5454;
  color: white;
}

/* footer */
footer {
    background-color: #f2f2f2;
    padding: 20px 0;
    text-align: center;
    color: #6c757d;
  }

  @media (max-width: 575.98px) {
    h1 {
        font-size: 28px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    
}

@media (min-width: 768px) and (max-width: 991.98px) {
    
}

@media (min-width: 992px) {
    
}
