 /* Navigation Bar */
 .navbar {
  display: flex;
  justify-content: center; 
}

.nav-list {
  list-style-type: none;
  display: flex;
  padding: 0; 
  margin: 0; 
}

.nav-item {
  margin: 0 10px; 
}



/* footer */
footer {
  background-color: #f2f2f2;
  padding: 20px 0;
  text-align: center;
  color: #6c757d;
}

