section {
    margin: 20px;
}


#searchButton {
    padding: 10px;
    cursor: pointer;
    margin: 15; /* Add margin for spacing between buttons */
    background-color: #ad5454;
    color: white;
}


#randomButton {
    background-color: #ad5454;
    color: white;
}

input {
    padding: 10px;
    width: 200px;
}

.hide {
    display: none;
}

.card{
    box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f7c1ae;
}

#searchResults a {
    color: #ff6666;
}

.ingredient-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.ingredient-container {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.ingredient-image {
    width: 100px;
    height: 100px;
}

.ingredient-text {
    margin-top: 5px;
    text-align: center;
}


#footer-container {
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}