section {
    margin: 20px;
}

button {
    padding: 10px;
    cursor: pointer;
    margin: 15; /* Add margin for spacing between buttons */
}

input {
    padding: 10px;
    width: 200px;
}


.card{
    box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f7c1ae;
}

#searchResults a {
    color: #ff6666;
}
#footer-container {
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
