
body {
    font-family: Arial, sans-serif;
    margin: 10;
    padding: 0;
    display: flex;
    flex-direction: column;
}


section {
    margin: 20px;
}

.search-container {
    display: flex;
    align-items: center;
}

button {
    padding: 10px;
    cursor: pointer;
    margin: 15; /* Add margin for spacing between buttons */
}

input {
    padding: 10px;
    width: 200px;
}

.search-results-container,
.meal-details-container {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.meal-details-container {
    background-color: #f2f2f2;
    padding: 20px;
}

.meal-details-container img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

#footer-container {
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
