/* Custom Styles */
body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffd7c9;
}

/* Navigation Bar */
.navbar {
  display: flex;
  justify-content: center;
}

.nav-list {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.nav-item {
  margin: 0 10px;
}


/* Hero Section */
.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

/* .flex-image {
  max-width: 50%;
  height: auto;
} */

/* .flex-text {
  max-width: 50%;
} */

#hero-container{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-top: 20px;
  color: black;
}

#hero-container h2 {
  color: #ff6666;
}

#hero-paragraph {
 color: black;
}

#hero-image {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}


.page-heading {
  text-align: center;
  margin-top: 30px;
}
/* 
/* Image Cards */
/* .card {
  margin-bottom: 20px;
  background: transparent;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  border: none;
} */
/* 
.card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
} */

/* .card img {
  border-radius: 10px;
  max-width: 100%;
  height: 200px;
} */ 

/* a .fa-github {
  color: #000000;
}

.container-fluid {
  flex-wrap: wrap;
} */

.newsletter-signup {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 30px auto;
  width: 80%;
  border-radius: 8px;
  text-align: center;
  position: relative;
  z-index: 10;
}

.newsletter-signup a{
  color: #ff6666;
}

#newsletter-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

#newsletter-form input[type="email"] {
  width: 70%;
  padding: 10px;
  border: 1px solid #e6b163;
  border-radius: 4px;
}

#newsletter-form button {
  padding: 10px 20px;
  background-color: #f5d6d0;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#newsletter-form button:hover {
  background-color: #c49a9c;
}

@media (max-width: 768px) {
  .newsletter-signup {
    width: 90%;
  }

  #newsletter-form input[type="email"] {
    width: 90%;
  }
}

/* Center the column within the row */
#social-icons .row {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Center the content within the column and set in a row */
#social-icons .col-lg-6.col-md-12 {
  display: flex;
  justify-content: center; /* This will center the social icons and text */
  align-items: center; /* Align items vertically in the center */
  /* No need to set flex-direction to column because row is default */
}

/* Center the text in the bottom part of the footer */
.footer .text-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
